*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $white;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 8px;
}

h2 {
  font-family: $title-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-transform: capitalize;
  color: $white;
}

.main {
  padding-top: 84px;
  height: 100vh;
}


.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  background-color: $color-btn;

  .container-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $color-btn;

    @include media('<=768px') {
      height: 136px;
    }


    .logo {
      margin: 32px 0 32px 300px;
      font-family: $base-font-family;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $white;

      @include media('<=576px') {
        margin: 32px 0 32px 204px;
      }

      @include media('<=768px') {
        margin: 32px auto;
      }

      @include media('<=1024px') {
        margin: 32px 0 32px 32px;
      }

      @include media('<=1360px') {
        margin: 32px 0 32px 110px;
      }
    }

    .nav-holder {
      @include animate(opacity visibility, 0.3s);

      margin-right: 300px;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      background-color: $color-btn;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      opacity: 0;
      visibility: hidden;

      @include media('<=1360px') {
        margin-right: 110px;
      }

      @include media('<=1024px') {
        margin-right: 32px;
      }

      @include media('<=768px') {
        width: 768px;
        max-width: 100%;
        margin-right: 0;
      }

      @include media('>=576px') {
        min-height: 100%;
        position: static;
        align-items: center;
        //padding: 0 56px;
        opacity: 1;
        visibility: visible;
      }

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    .nav-list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      align-items: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $white;

      li {
        text-align: center;
        margin-left: 40px;

        &:first-child {
          margin-left: 0;
        }
      }

      @include media('>=576px') {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        margin-left: 0;

        .nav-link {
          font-family: $title-font-family;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          color: $white;
          text-decoration: none;
          position: relative;
          margin-left: 40px;


          @include media('>=768px') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }

          @include media('>=576px') {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-left: 0;
          }

          &:hover {
            color: $background-house;
            transition: all ease-in-out 0.3s;

            &:before {
              width: 100%;
            }
          }

          &:before {
            content: '';
            width: 0;
            height: 1px;
            background-color: $background-house;
            position: absolute;
            left: 0;
            bottom: -5px;
            transition: all ease-in-out 0.3s;
          }
        }
      }
    }

    .nav-opener {
      margin-right: 100px;
      background-color: transparent;
      border: none;
      outline: none;
      position: relative;
      width: 40px;
      height: 24px;

      @include media('>=576px') {
        display: none;
      }

      &.active {
        span {
          opacity: 0;
          visibility: hidden;
        }

        &:before {
          transform: rotate(-43deg);
          top: 50%;
        }

        &:after {
          transform: rotate(45deg);
          bottom: 50%;
        }
      }

      span,
      &:before,
      &:after {
        @include animate(all, 0.3s);

        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $white;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }

      span {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.intro {
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: $white;
  text-align: center;

  .container-main {
    margin: 0 auto;

    .pseudotitle-main {
      display: inline-block;
      font-family: $base-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 28px;
      letter-spacing: 5px;
      color: $white;
      margin-bottom: 48px;
    }

    .subscribe-form {
      display: flex;
      position: relative;
      margin: 0 auto;
      width: 100%;
      max-width: 647px;

      @include media('<=576px') {
        width: 540px;
        margin: 0 15px;
      }

      .input {
        outline: none;
        font-family: $base-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
        color: $color-input;
        padding: 20px 190px 20px 36px;
        margin: 0 auto;
        background-color: $white;
        text-align: left;
        min-width: 647px;
        width: calc(100% - 57px);
        height: 60px;
        right: 0;
        top: 0;

        &:focus {
          box-shadow: 0 0 30px rgba(0, 0, 0, 2);
        }
      }

      .icon-search-btn {
        padding: 18px 12px;
        color: $white;
      }

      .btn-search {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 139px;
        height: 52px;
        margin: 4px 5px 4px 0;
        padding: 16px 24px 16px 12px;
        border: none;
        font-family: $title-font-family;
        font-weight: 400;
        color: $white;
        letter-spacing: 0.1em;
        font-size: 14px;
        text-transform: uppercase;
        background-color: $color-btn;
        cursor: pointer;

        &:active {
          background-color: $color-btn-srch;
        }
      }
    }

    .scroll-down {
      position: absolute;
      bottom: 124px;
      left: 50%;
      transform: translateX(-50%);

      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2em;
        color: $white;
        display: inline-block;
        margin-bottom: 8px;
      }

      .icon-chevron-down {
        display: inline-block;
        color: $white;
      }
    }
  }
}

#town {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 704px;
  color: $white;

  @include media('<=1360px') {
    padding: 0 110px;
  }

  @include media('<=1024px') {
    padding: 0 32px;
  }

  @include media('<=768px') {
    padding: 0 24px;
    flex-wrap: wrap;
    height: 100%;
  }

  @include media('<=576px') {
    padding: 0 18px;
    flex-wrap: wrap;
    height: 100%;
  }

  .container-town-description {
    margin: 190px 0 0 300px;
    width: 50%;

    @include media('<=1360px') {
      width: 100%;
      margin: 124px 32px;
    }

    @include media('<=768px') {
      width: 100%;
      margin: 24px;
      align-items: center;
      text-align: center;
    }
  }
}

.house-title-holder {
  h2 {
    margin-bottom: 24px;
  }

  @include media('<=576px') {
    margin-bottom: 19px;
  }
}

.chapter1,
.chapter2 {
  width: 648px;
  margin-bottom: 24px;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: $base-font-size;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: $white;
}

.btn-explore {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 213px;
  height: 60px;
  padding: 20px 32px;
  border: none;
  font-family: $title-font-family;
  font-weight: 400;
  color: $white;
  letter-spacing: 0.07em;
  font-size: $base-font-size;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $color-btn;
  cursor: pointer;

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: $color-btn-span;
    z-index: 1;
    transform: translateX(-60%) skewX(45deg);
    transition: all ease-in-out 0.3s;
  }

  &:hover {

    &:before {
      transform: translateX(60%) skewX(45deg);
      transition: all ease-in-out 0.3s;
    }
  }
}

.container-town-img {
  width: 50%;
  margin: 124px auto 0 136px;

  @include media('<=1024px') {
    margin: 0 auto;
    width: 100%;
  }

  @include media('<=768px') {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include media('<=576px') {
    width: 100%;
  }
}

.img1-town {

  @include media('<=768px') {
    margin: 60px 24px 32px 24px;
    max-width: 100%;
    //width: 348px;
    //height: 219px;
  }

  @include media('<=576px') {
    margin: 60px 24px 37px 18px;
    max-width: 100%;
    //width: 258px;
    //height: 162px;
  }
}

.img2-town {
  margin: 16px 0 0 74px;

  @include media('<=1024px') {
    margin: 16px 32px 0 26px;
  }

  @include media('<=768px') {
    margin: 60px 24px 32px 24px;
    max-width: 100%;
    //width: 348px;
    //height: 219px;
  }

  @include media('<=576px') {
    margin: 60px 24px 37px 18px;
    max-width: 100%;
    //width: 258px;
    //height: 162px;
  }
}


.icons-wrapper {
  background-color: $background-town;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 124px;
  position: relative;

  .icon-search-holder,
  .icon-check-circle-holder,
  .icon-thumbs-up-holder {
    display: inline-block;
    text-align: center;
    margin:0;
    position: relative;
    width: 33.33%;

    span {
      width: 220px;
      display: inline-block;
      font-family: $title-font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 40px;
      color: $white;
      margin-bottom: 44px;
    }

    @include media('<=768px') {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      height: 100%;
      width: 50%;
    }
  }

  .icon-search-holder {

    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 200px;
      border: dashed 1px #fff;
      opacity: 0.5;
      border-radius: 91% 91% 0 0;
      left: 50%;
      top: -90px;
      border-bottom: none;
      border-left: none;
      border-right: none;
  }
    @include media('<=768px') {
      margin: 60px 240px;

      &:before {
        visibility: hidden;
      }
    }
  }

  .icon-check-circle-holder {
    &:before{
      content: "";
      position: absolute;
      width: 100%;
      height: 200px;
      border: dashed 1px #fff;
      opacity: 0.5;
      border-radius: 91% 91% 0 0;
      left: 50%;
      top: -90px;
      border-bottom: none;
      border-left: none;
      border-right: none;
    }

    @include media('<=768px') {
      margin: 60px 240px;
      &:before {
        visibility: hidden;
      }
    }
  }

  .icon-thumbs-up-holder {

    @include media('<=768px') {
      margin: 60px 240px;
    }
  }

  .icon-search,
  .icon-check-circle,
  .icon-thumbs-up {
    display: block;
    font-size: 64px;
    margin-bottom: 20px;
  }

  .icon-search {
    color: $color-btn;
  }

  .icon-check-circle {
    color: $color-icon-check;
  }

  .icon-thumbs-up {
    color: $color-icon-thumb;
  }
}


.booking {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 684px;
  color: $white;
  display: flex;
  align-items: center;

  .container-booking {
    width: 1296px;
    max-width: 100%;
    margin: 0 auto;
  }

    .end {
      display: flex;
      justify-content: flex-end;
    }

      .booking-holder {
        max-width: 100%;
        width: 50%;
        background-color: rgba(35, 35, 35, 0.9);
        padding: 44px 32px;
        margin: 0 15px;

        &:hover {
          background-color: $background-town;
          transition: all ease-in-out 0.3s;
        }

        @include media('<=768px') {
          margin: 120px 24px;
          width: 670px;
          height: 348px;
        }

        @include media('<=576px') {
          margin: 120px 18px;
          width: 490px;
          height: 376px;
        }
      }
    }


.btn-book {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 213px;
  height: 60px;
  padding: 20px 56px;
  border: none;
  font-family: $title-font-family;
  font-weight: 400;
  color: $white;
  letter-spacing: 0.07em;
  font-size: $base-font-size;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $color-btn;
  cursor: pointer;

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: $color-btn-span;
    z-index: 1;
    transform: translateX(-60%) skewX(45deg);
    transition: all ease-in-out 0.3s;
  }

  &:hover {

    &:before {
      transform: translateX(60%) skewX(45deg);
      transition: all ease-in-out 0.3s;
    }
  }
}

.pseudo-spain {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-bottom: 16px;
}

.pseudo-grand-spain {
  display: inline-block;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.booking-p {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
}


.tourists {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;

  @include media('<=1360px') {
    height: 708px;
  }

  @include media('<=1024px') {
    height: 736px;
  }

  @include media('<=768px') {
    height: 924px;
  }

  @include media('<=576px') {
    height: 980px;
  }

  h2 {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin: 120px auto 60px;

    @include media('<=768px') {
      margin: 55px;
    }
  }

  .container-tourists {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1325px;
    margin: 0 300px 180px;

    @include media('<=1360px') {
      margin: 0 110px;
      width: 1140px;
    }

    @include media('<=1024px') {
      margin: 0 32px;
      width: 960px;
    }

    @include media('<=768px') {
      margin: 0 24px 120px 24px;
      width: 720px;
      flex-direction: column;
      max-width: 100%;
    }

    @include media('<=576px') {
      margin: 0 18px 120px 18px;
      width: 540px;
      flex-direction: column;
      max-width: 100%;
    }

    .img-tourist {
      height: auto;
      justify-content: start;

      @include media('<=1360px') {
        height: 308px;
      }

      @include media('<=1024px') {
        height: 336px;
      }

      @include media('<=768px') {
        width: 720px;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
      }

      @include media('<=576px') {
        width: 540px;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
      }
    }

    .tourists-testimonials {
      display: inline-block;
      width: 760px;
      padding: 48px 65px 48px 60px;
      background-color: $background-town;

      @include media('<=1360px') {
        width: 600px;
      }

      @include media('<=1024px') {
        width: 500px;
      }

      @include media('<=768px') {
        margin: 0 24px 120px 24px;
        width: 720px;
      }

      @include media('<=576px') {
        margin: 0 18px 120px 18px;
        width: 540px;
      }

      .pseudo-tourists {
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
      }

      .testimonial {
        display: inline-block;
        font-family: $base-font-family;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.1em;

        .icon-quote-left {
          display: inline-block;
          position: relative;
          color: $color-btn;
          top: -5px;
          margin-right: 15px;
        }
      }
    }
  }
}



.container-footer {
  margin: 0 auto;
  height: 268px;
  background-color: $background-footer;
  text-align: center;
  padding-top: 80px;

  .logo {
    margin-bottom: 8px;
    font-family: $base-font-family;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
  }
}

.pseudotitle-footer {
  font-family: $base-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 22px;
}

.nav-footer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .nav-list-footer {
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    .nav-link-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-right: 34px;
      font-size: 26px;
      color: $white;

      .icon-facebook {
        &:hover {
          color: $color-a-facebook;
          transition: all ease-in-out 0.3s;
        }
      }

      .icon-twitter {
        &:hover {
          color: $color-a-twitter;
          transition: all ease-in-out 0.3s;
        }
      }

      .icon-linkedin {
        &:hover {
          color: $color-a-linkedin;
          transition: all ease-in-out 0.3s;
        }
      }

      .icon-youtube {
        &:hover {
          color: $color-a-youtube;
          transition: all ease-in-out 0.3s;
        }
      }

      .icon-pinterest {
        &:hover {
          color: $color-a-pinterest;
          transition: all ease-in-out 0.3s;
        }
      }
    }
  }
}