$white: #fff;
$color-input: #999999;
$color-btn: #5373FD;
$color-btn-srch: #2a3559;

$color-icon-check: #FF6363;
$color-icon-thumb: #00A2FF;

$color-a-facebook: #0645ad;
$color-a-twitter: #1d9bf0;
$color-a-linkedin: #0a66c2;
$color-a-youtube: #c00;
$color-a-pinterest: #e60023;

$background-town: #333333;
$background-house: rgba(35, 35, 35, 0.9);
$background-footer: #000000;

$base-font-size: 16px;
$base-font-family: 'Josefin Sans';
$title-font-family: 'aleo';
$icon-font-family: 'icomoon';